---
http_interactions:
- request:
    method: get
    uri: https://api.fluro.io/content/realm?allDefinitions=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Fluro-Server-Version:
      - b2f266de
      Etag:
      - W/"15f8f-H1P3LeyZBIY5MtZI8rWEct+7FHY"
    body:
      encoding: ASCII-8BIT
      string: '[
          {
            "_id": "5c05050b48890574c5395cad",
            "status": "active",
            "trail": [{ "_id": "5c0dd66be6f97b5fa6211998", "title": "System" }],
            "title": "Church",
            "_type": "realm",
            "created": "2018-12-03T10:27:23.136Z",
            "updated": "2021-04-21T05:10:44.668Z",
            "bgColor": "#555",
            "color": "#eee",
            "slug": "realm-church",
            "definition": "locationRealm"
          },
          {
            "_id": "5c0dd66be6f97b5fa6211998",
            "status": "active",
            "trail": [],
            "title": "System",
            "_type": "realm",
            "created": "2018-12-10T02:58:51.704Z",
            "updated": "2018-12-10T02:58:51.708Z",
            "bgColor": "#555",
            "color": "#eee"
          }
        ]'
  recorded_at: Mon, 27 Feb 2023 23:33:35 GMT
recorded_with: VCR 6.1.0
