---
http_interactions:
- request:
    method: post
    uri: https://api.fluro.io/token/login
    body:
      encoding: UTF-8
      string: '{"username":"bob.jones@example.com","password":"ultra-secure-password","account":"remote_account_id"}'
    headers:
      Authorization:
      - Bearer
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Fluro-Server-Version:
      - '082610a6'
      Etag:
      - W/"2e498-tNvDQrEwCc/9RPIRIBSbUTG/Jeg"
    body:
      encoding: ASCII-8BIT
      string: '{ "_id":"remote_user_id", "name":"Bob Jones", "firstName":"Bob", "lastName":"Jones",
        "email":"bob.jones@example.com", "phoneNumber":"+6421000111", "created":"2018-12-03T10:30:14.845Z",
        "contacts":["remote_contact_id"] }'
  recorded_at: Thu, 09 Mar 2023 04:54:22 GMT
[...]
- request:
    method: post
    uri: https://api.fluro.io/token/login
    body:
      encoding: UTF-8
      string: '{"username":"bob.jones@example.com","password":"incorrect","account":"remote_account_id"}'
    headers:
      Authorization:
      - Bearer
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Fluro-Server-Version:
      - '082610a6'
      Etag:
      - W/"81-1LHhcLMIvYBehdzq/L4TSeagAyU"
    body:
      encoding: UTF-8
      string: '{"status":401,"asJSON":true,"data":null,"message":"Login Failed. Please
        check your email address and password.","statusCode":401}'
  recorded_at: Thu, 09 Mar 2023 04:54:23 GMT
- request:
    method: get
    uri: https://api.fluro.io/get/avatar/user/remote_user_id?access_token=api_key&h=40&w=40
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Fluro-Server-Version:
      - d917a632
      Etag:
      - W/"5d-98jvc3UzSyv5C7gzYdKvFLOxGaY"
    body:
      encoding: UTF-8
      string: '{"error":"InvalidAccessToken","status":401,"statusCode":401,"message":"Invalid
        access token"}'
  recorded_at: Sat, 01 Jan 1994 00:00:00 GMT
recorded_with: VCR 6.1.0
