---
http_interactions:
- request:
    method: get
    uri: https://api.fluro.io/session
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Fluro-Server-Version:
      - 25fc7df3
      Etag:
      - W/"560d-LA+5ctpZNH8hhMVES6j/+wpdRTc"
    body:
      encoding: ASCII-8BIT
      string: '{
          "_id": "63fbd5525a6b6b002498273e",
          "status": "active",
          "realms": ["5c0dd66be6f97b5fa6211998"],
          "_type": "application",
          "title": "My Team (Development)",
          "domain": "myteam.lvh.me:3000",
          "account": {
            "_id": "5c05049048890574c5395ca5"
          },
          "apikey": "<BEARER_TOKEN>",
          "created":"2023-02-26T21:55:30.864Z",
          "updated":"2023-02-26T21:58:07.626Z"
        }'
  recorded_at: Sun, 05 Mar 2023 04:25:01 GMT
- request:
    method: get
    uri: https://api.fluro.io/account/5c05049048890574c5395ca5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Fluro-Server-Version:
      - 25fc7df3
      Etag:
      - W/"37c1-G7QmpuSry5NPeNFfeyFnRR1Cvzg"
    body:
      encoding: ASCII-8BIT
      string: '{
          "_id": "5c05049048890574c5395ca5",
          "title": "Auckland Ev",
          "status": "active",
          "created": "2018-12-03T10:25:20.416Z",
          "updated": "2022-10-14T21:10:34.749Z"
        }'
  recorded_at: Sun, 05 Mar 2023 04:25:01 GMT
recorded_with: VCR 6.1.0
