---
http_interactions:
- request:
    method: get
    uri: https://api.fluro.io/content/contact?allDefinitions=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Fluro-Server-Version:
      - b2f266de
      Etag:
      - W/"1481052-p7heiYQCK0ll4MZKIi+frpvDXxo"
    body:
      encoding: ASCII-8BIT
      string: '[
          {
            "_id": "5c05057c48890574c5395cc6",
            "status": "active",
            "title": "Robert Smith",
            "firstName": "Robert",
            "lastName": "Smith",
            "emails": ["robert@aucklandev.co.nz", "robert.smith@gmail.com"],
            "phoneNumbers": ["021098765", "6421098765"],
            "definition": "leader",
            "_type": "contact",
            "created": "2014-01-15T01:36:47.000Z",
            "updated": "2023-02-21T22:21:19.559Z",
            "realms": [
              {
                "_id": "5c0d9d3e7ef61e100ae4514b",
                "title": "Central",
                "bgColor": "#9ee2ff",
                "color": "#1366a3",
                "_type": "realm",
                "slug": "realm-morning-church",
                "definition": "locationRealm"
              },
              {
                "_id": "5c0d9d497ef61e100ae45153",
                "title": "Unichurch",
                "bgColor": "#EC2E2EFF",
                "color": "#FFB5BAFF",
                "_type": "realm",
                "slug": "realm-unichurch",
                "definition": "locationRealm"
              }
            ]
          },
          {
            "_id": "607bf8ccd6fc8e05f37379ed",
    [...]
